# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [1]:
import pandas as pd
from pathlib import Path

### Read in data

In [6]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')

fin_leader_dues = pd.read_csv(fin_leaders_america_path)
investors_leadership_dues = pd.read_csv(investors_leadership_path)
fin_leaders_mbr_status = pd.read_csv(fin_leaders_mem_path)
investors_leadership_mbr_status = pd.read_csv(investors_leadership_mem_path)

### Concat dues data using `rows` axis and `inner` join

In [13]:
joined_dues = pd.concat([fin_leader_dues, investors_leadership_dues], axis="rows", join="inner")
joined_dues

          MemberName  DuesOwed  DuesPaid
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
4       Mario Draghi      2500         0
5  Michael Bloomberg      2500         0
6          Ray Dalio         0      2500

### Concat member data using `rows` axis and `inner` join

In [14]:
joined_membership = pd.concat([fin_leaders_mbr_status, investors_leadership_mbr_status], axis="rows", join="inner")
joined_membership

          MemberName MembershipStatus
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
4       Mario Draghi       Delinquent
5  Michael Bloomberg       Delinquent
6          Ray Dalio    Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [20]:
joined_membership.merge(joined_dues, on='MemberName', how='inner')

           MemberName MembershipStatus  DuesOwed  DuesPaid
0       Warren Buffet    Good Standing         0      2500
1       Warren Buffet    Good Standing         0      2500
2       Warren Buffet    Good Standing         0      2500
3       Warren Buffet    Good Standing         0      2500
4        Janet Yellen    Good Standing       100      2400
5        Janet Yellen    Good Standing       100      2400
6        Janet Yellen    Good Standing       100      2400
7        Janet Yellen    Good Standing       100      2400
8     Abigail Johnson    Good Standing         0      2500
9     Abigail Johnson    Good Standing         0      2500
10    Abigail Johnson    Good Standing         0      2500
11    Abigail Johnson    Good Standing         0      2500
12         Larry Fink       Delinquent      2500         0
13         Larry Fink       Delinquent      2500         0
14         Larry Fink       Delinquent      2500         0
15         Larry Fink       Delinquent      2500         0
16       Mario Draghi       Delinquent      2500         0
17  Michael Bloomberg       Delinquent      2500         0
18          Ray Dalio    Good Standing         0      2500